# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/conditionalRender/ElementVarApproch.js
src/conditionalRender/IfElseApproch.js
src/conditionalRender/ShortCircuitApproch.js
src/conditionalRender/TernaryApproch.js
src/states/Counter.js
src/states/States.js
src/listRender/NameList.js
src/listRender/RenderNameList.js
src/MethodsAsProps/Child.js
src/MethodsAsProps/Parent.js
src/JSX/JSX.js
src/eventHandler/ButtonClick.js
src/eventHandler/ButtonClickClass.js
src/component/Class-Component.js
src/component/Functional-Component.js
